DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=
RESEND_API_KEY=
RESEND_FROM_EMAIL=

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

#GEMINI o OPENAI
AI_PROVIDER=
GEMINI_API_KEY=
OPENAI_API_KEY=
